@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

@layer components {
  .fnt-sm {
    @apply text-sm leading-sm;
  }

  .fnt-md {
    @apply text-md leading-md;
  }

  .fnt-lg {
    @apply text-lg leading-lg;
  }

  .card {
    @apply shadow rounded bg-primary;
  }

  .btn-action {
    @apply bg-action hover:bg-action hover:grayscale-[25%];
  }

  .btn-danger {
    @apply bg-danger hover:bg-danger hover:grayscale-[25%];
  }

  .btn-attract {
    @apply bg-attract hover:bg-attract hover:grayscale-[25%];
  }
}
